.pro-table-header-wrap {
  font-weight: bolder;
}
.pro-table-header-wrap .ant-tabs-nav {
  margin-bottom: 0;
}
.pro-table-header-wrap > h2 {
  font-size: 20px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 24px;
  margin-bottom: 16px;
}
.pro-table-header-wrap > section {
  padding: 0 24px;
  background-color: #fff;
}
.pro-table-header-wrap > section .ant-tabs-nav {
  height: 100%;
}
.pro-table-header-wrap .first {
  border-radius: 4px;
  margin-bottom: 4px;
  height: 58px;
  display: flex;
  font-weight: 600;
}
.pro-table-header-wrap .first .ant-tabs-tab-btn {
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 22px;
}
.pro-table-header-wrap .second {
  min-height: 48px;
  padding-top: 10px;
  display: flex;
  font-weight: 500;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.pro-table-header-wrap .second > span,
.pro-table-header-wrap .second .toggle-wrap {
  text-align: center;
  line-height: 48px;
}
.pro-table-header-wrap .second .second-content {
  flex-basis: 0;
  flex-grow: 1;
  height: 48px;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.pro-table-header-wrap .second .second-content .second-btn-wrap {
  height: 48px;
  display: flex;
}
.pro-table-header-wrap .second .second-content .second-btn {
  border-radius: 12px;
  margin: auto;
  color: rgba(0, 0, 0, 0.65);
}
.pro-table-header-wrap .second .second-content .ant-btn-primary {
  color: #fff;
}
.pro-table-header-wrap .second .second-content-active {
  height: 100%;
}
.pro-table-header-wrap .second .toggle-wrap {
  display: flex;
}
.pro-table-header-wrap .second .toggle-wrap .anticon-down {
  color: #1890ff;
}
.pro-table-header-wrap .second .toggle-wrap button {
  padding-top: 0;
  margin-right: 0;
}
.pro-table-header-wrap .second .toggle-wrap button .anticon-down {
  line-height: 0;
}
.pro-table-header-wrap .second .toggle-wrap button .anticon-down > svg {
  line-height: 0;
}
.pro-table-header-wrap .second .toggle-wrap:last-child button {
  padding-right: 0;
}
