/*  激活标签 */
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1890ff !important;
  font-weight: 600 !important;
}

/*  底部横条 */
.ant-tabs-ink-bar {
  height: 4px!important;
  background: linear-gradient(315deg, #35fcff 0%, #0443fc 100%)!important;
  border-radius: 2px!important;
}

@primary:#1890FF;
@warning:#FF841B;
@warning-thin:#f59c4f;
@disabled:#bdbdbd;
@disabled-thin:#bdbdbd;

body {

  button :not([class = ant-btn-circle]) {
    border-radius: 4px !important;
  }

  //警告按钮
  .ant-btn-warning{
    background-color:@warning;
    color: #fff;
    border-color:@warning;

    &:active{
      background-color:@warning;
      color: #fff;
      border-color:@warning;
    }
    
    &:focus{
      color: #fff;
      background-color:@warning ;
      border-color: @warning;
    }

    &:hover{
      color: #fff;
      background-color: @warning-thin;
      border-color: @warning-thin;
    }
    
  }
  
  .ant-btn[disabled]{
    color: #fff;
    background: #bdbdbd;
    border-color: #bdbdbd;
    &:hover{
      color: #fff;
      background: #bdbdbd;
      border-color: #bdbdbd;
    }
  }
  
  //辅助按钮
  .ant-btn-primary-sub  {
    color: @primary;
    border-color: @primary;
  }

  //辅助-警告色
  .ant-btn-warning-sub  {
    color: @warning;
    border-color: @warning;

    &:hover{
      color: @warning-thin;
      border-color: @warning-thin;
    }
  }

  //辅助-禁用
  .ant-btn.ant-btn-disabled-sub  {
    background-color: #fff;
    border-color: @disabled;
    color: @disabled;

    &:hover{
      background-color: #fff;
      border-color: @disabled;
      color: @disabled;
    }
  }
  
  //圆形
}
